<!doctype html>
<html lang="en">
<head>
	<title>Bhupal SideMenu - Angular Material</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<script src="../dist/sidemenu-dep.js"></script>
	<script src="../dist/sidemenu-min.js"></script>
	<script src="controller.js"></script>
  
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../dist/sidemenu.css">
  
  <style>
	.max-height {
		height: inherit;
	}
  </style>
  
</head>
<body ng-app='MyApp'>

<div ng-controller="AppController" class="max-height main-content">
  <!-- toolbar -->
  <md-toolbar layout="row">
    <div class="md-toolbar-tools">
      <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
        <md-icon md-menu-align-target class="material-icons">menu</md-icon>
      </md-button>
      <h1>Material Angular</h1>
    </div>
  </md-toolbar>
  <!-- -->

  <!-- content -->
  <div layout="row" flex="" class="max-height">
    <!-- sidenav -->
	<md-sidenav ng-if='!error' md-is-locked-open="sideMenuOpen" class='md-whiteframe-4dp'>
		<ng-md-side-menu ng-model='itemsMenu' ng-is-error='showError' ng-side-menu-open='sideMenuOpen' ng-show-loading='menuLoading'></ng-md-side-menu>
	</md-sidenav>
	
    <!-- main content -->
    <div layout="column" flex id="content">
      <md-content layout="column" flex="" class="md-padding">
		<md-checkbox ng-model="menuLoading">
			Loading menu
		</md-checkbox>
		<md-checkbox ng-model="showError" >
			Show Error
		</md-checkbox>		
		<md-checkbox ng-model="sideMenuOpen" >
			Show Sidemenu
		</md-checkbox>
		  
		<div ui-view ></div>
      </md-content>
    </div>
  </div>
</div>


	<script type="text/ng-template" id="templates/main.html">
		<h1>this is main page</h1>
	</script>

	<script type="text/ng-template" id="templates/list.html">
		<h1>List All Contents</h1>
	</script>
			
	<script type="text/ng-template" id="templates/add.html">
		<h1>Add new contents</h1>
	</script>
	
	<script type="text/ng-template" id="templates/nav.html">
		<h1>Sample naviation</h1>
	</script>
</body>
</html>