<md-menu-item>
	<md-button ng-click='toggleButton()' class='md-primary'>
		<div layout="row" flex >
			<md-icon md-menu-align-target class="material-icons">menu</md-icon>
			<p flex>{{ngModel.title}}</p>
			<md-icon md-menu-align-target class="material-icons" ng-show='showMore || ngFilter'>remove</md-icon>
			<md-icon md-menu-align-target class="material-icons" ng-hide='showMore || ngFilter'>add</md-icon>
		</div>
	</md-button>
</md-menu-item>
<md-divider/>
<ng-md-menu ng-class='menu' ng-filter='ngFilter' ng-show='showMenu() || ngFilter' ng-model='ngModel.pages'/>
