<div>
<style>
.search-input { 
	padding-left: 20px;
}

.search-input .hint {
	/* Position the hint */
	position: absolute;
	left: 2px;
	right: auto;
	bottom: 7px;
	/* Copy styles from ng-messages */
	font-size: 12px;
	line-height: 14px;
	transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
	/* Set our own color */
	color: grey;
}

.search-input .hint.ng-hide,
.search-input .hint.ng-enter,
.search-input .hint.ng-leave.ng-leave-active {
	bottom: 26px;
	opacity: 0;
}

.search-input .hint.ng-leave,
.search-input .hint.ng-enter.ng-enter-active {
	bottom: 7px;
	opacity: 1;
}

.search-input .hint .active {
	color: orange;
}

.search-input .close-button {
	position: absolute; 
	margin: 0px 0px;
}
</style>	

<section ng-show='ngShowLoading'>
	<md-menu-item>
		<span>Menu is Loading, Please wait</span>
		<md-progress-circular md-mode="indeterminate" md-diameter="20px"/>
	</md-menu-item>
</section>
<div ng-show='!ngShowLoading && !ngIsError'>
	<section>
		<div layout="row" layout-align="start center" flex class='search-input'>
			<span class="bt-search">
				<i class="material-icons md-fab-icon">search</i>
			</span>
			<md-input-container md-no-float >
				<label>Search</label>
				<input flex ng-model='filterMenu'/>
				<div class="hint">
					<span ng-hide='filterMenu'>Search over below Menu...</span>
					<span ng-show='filterMenu' class='active'>To clear search, click on 'X' button</span>
				</div>

				<md-button ng-show='filterMenu' ng-click="filterMenu=''" class='md-icon-button close-button'>
					<i class="material-icons md-fab-icon">close</i>
				</md-button>
			</md-input-container>
		</div>
	</section>
	<section ng-repeat="menuItem in ngModel track by $index">
		<ng-md-menu-group ng-filter='filterMenu' ng-model='menuItem'/>
	</section>
</div>
</div>